@import '../../../styles/settings.scss';

.root {
  .form_row {
    justify-content: center ;
  }
  .col_title {
    margin: 10px ;
    padding: 10px ;
    text-align: center;
  }
  .form_button {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
