@import '../../../styles/settings.scss';

 .root {
   .wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
    .header_button {
      margin: 5px 20px;
    }
   }
}
